.btnConnect{
    margin-top: 2rem;
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #f6851b;
    margin: 0;
}
.connection {
    text-align: center;
}
.connection > h1 {
    padding-bottom: 2rem;
}