.btnConnect{
    font-size: 1.125rem;
    padding: 12px 55px;
    opacity: 1;
    background: rgb(3, 125, 214);
    color: rgb(255, 255, 255);
    border-radius: 2rem;
    border: none;
    margin: 0;
    cursor: pointer;
}
.connection > h1 {
    padding-bottom: 2rem;
}